<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="user" [(ngModel)]="newUser.userName" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="name" [(ngModel)]="newUser.firstName" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="lastname" [(ngModel)]="newUser.lastName" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="newUser.password" required>

  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button class="signupbtn" (click)="register()">Sign Up</button>
      </div>
    </div>
  </form>